{
  "name": "GitHub GraphQL",
  "schemaPath": "schema.graphql",
  "extensions": {
    "endpoints": {
      "Default GraphQL Endpoint": {
        "url": "https://api.github.com/graphql",
        "headers": {
          "user-agent": "JS GraphQL",
          "Authorization": "bearer <GITHUB_TOKEN_HERE>",
          "accept" : "application/vnd.github.bane-preview+json"
        },
        "introspect": false
      }
    }
  }
}
